*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}
.banner-text{
  width: 100%;
  position: absolute;
}
.banner-text ul{
  height: 50px;
  float: right;
}
.banner-text ul li{
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.banner-text h2{
  text-align: center;
  color: #000;
  font-size: 50px;
  margin-top: 20%;
  float: center;
}
body{
  background-image: url("https://www.thoughtco.com/thmb/wfPd4joYOKjkL4P1yekLeIXN3yY=/3636x2633/filters:fill(auto,1)/D-Day-58b973df5f9b58af5c489f5f.jpg");
  background-repeat: no-repeat;
background-size: 1950px 1000px;
}
